
	<div id="fixer">
		<div class="headers">
			<h1>
				Be A Nation Builder
			</h1>
			<h3 class="tag">
				Become A Part of The Movement of A Lifetime!<br>
				Lend Your Skills And Insights | Ubuntu Will Be Because You Are
			</h3>
		</div>
<div id="paragraph" class="needs">
<!-- 	<div id="flags2">
		<img src="/images/flaghooded.jpg" width="395"> 
		<img src="/images/flagpeace.jpg" width="395"> 
		<img src="/images/flagankh.jpg" width="395">
	</div> -->

	<table class="trborder">
		<tr>
			<td width="250px">
				Web Developers
			</td>
			<td>
				We are building a web-based application that will support the goal of Ubuntu Nation to unify and empower individuals, groups and organizations across the globe to build the better world that is possible.
			</td>
		</tr>
	</table>
	<table class="trborder">
		<tr>
			<td width="250px">
				Organizers
			</td>
			<td>
				We need the insights of individuals who can help us create, imagine, inspire, educate, grow, and organize. This includes artists, activists, economists, educators, and organizers.
			</td>
		</tr>
	</table>
	<table class="trborder">
		<tr>
			<td width="250px">
				Citizens
			</td>
			<td>
				We need a large community of contributors to offer their perspectives so that we may create a Nation that is inclusive and inviting, that addresses issues we may not each know of, but that collectively we all are connected to. If you connect with the principals of Ubuntu, you are needed.
			</td>
		</tr>
	</table>
</div>