<% if current_user == nil %>
	<div class="message">
		<h1 id="un">
			Ubuntu Nation
		</h1><br>
		<p id="untag">
			<span id="messages"></span>
		</p>
		<div id="invite">
		<%= link_to "Become A Nation Builder", new_user_registration_path %>
		</div>
	</div>

<% end %>

