<div id="fixer">
	<div class="headers">
		<H1>
			Ubuntu Nation: We Finally Are
		</H1>
		<h2 class="tag">
				A Nation Without Borders
		</h2>
	</div>
	<br><br>
	<div id="paragraph">
		<img src="/images/circle.jpg"  width="500px" span style="float:left; padding: 5px; margin-top: 30px; margin-right: 30px; border: 1px solid red">

		<p>
			Ubuntu Nation is a country without borders, whose members are Citizens of Humanity. The name was chosen because, as a philosophy, Ubuntu fully and simply represents the ideals upon which this community is being devleoped.
		</p>
		<p>
			Here is a story often told to demonstrate the philosophy of Ubuntu. The story is often accompanied by the image on the right of children sitting in a circle that represents unity in a particularly sweet way:
		</p>
		<p>
			An Anthropolgist proposed a game to the kids in an African tribe. He put a basket of fruit near a tree and told the kids that the first one to find the fruits would win them all. Whe he told them to run they all took each others hands and ran together, then sat together, enjoying their fruits. When he asked them why they ran like that, as one could've taken all the fruits for one's self, they said: "Ubuntu! How can one of us be happy if all the other ones are sad?"
		</p>
		<p>
			The philosophy of Ubuntu derives from a Nguni word, ubuntu meaning "the quality of being human." Ubuntu manifests itself through various human acts, clearly visible in social, political, and economic situations, as well as among family. It is embodied in the statement: "Ubuntu ngumtu ngabanye abantu" ("A person is a person through other people"). This African proverb reveals a world view that we owe our selfhood to others, that we are first and foremost social beings, that, if you will, no man/woman is an island, or, "one finger cannot pick up a grain." Ubuntu is, at the same time, a deeply personal philosophy that calls on us to mirror our humanity for each other.
		</p>
	</div>
	<div id="flags">
		<img src="images/flaghooded.jpg" width="100%"> 
		<img src="images/flagpeace.jpg" width="100%"> 
		<img src="images/flagankh.jpg" width="100%">
	</div>
	<div id="paragraph">
		<p><span style="font-size: 50px; font-style: bold; color: red;">
			The symbolism in the flag:
			</span>
		</p>
		<p>
			Black is for the depth of knowledge our honest past provides, and the unknown future that is ours to create.
		</p>
		<p>
			Red is for the blood that is our own life force, the blood of each ourself that we will protect and no longer shed, and for our hearts, which we fill with love and through our actions move through the world in the way that our heart through its pumping moves our blood through our bodies.
		</p>
		<p>
			Blue is for the sky above, a representation of our limitless potential, and of the freedom we all deserve and pledge to protect, and for the waters that reflect that sky, that is a part of all living beings, a source of cleansing, and of nourishment, and of life.
		</p>
		<p>
			The central figure shall represent the living race. In our design concepts there are carvings representing plant and animal life. In the second and third design the dots represent the continents and are placed as the continents relate to each other geographically. The Anhk represents the man, woman and child, but may be seen as geographic. The peace symbol may be more universal. Our goal is reflect all living beings and thus represent our connection to each other. There is no me without you. The color is golden, because the hues of our skin, which are hues of brown - from the lightest to the darkest - would reflect as golden if we are being our most brilliant selves and if that was shining through in our physical form.
		</p>
	</div>