<div id="fixer">
	<div class="headers">
	<br><br>
		<h1>
			Calling All Nation Builders!<br>
		</h1><br>
		<h2 class="tag">
			The beautiful world is waiting for you.
		</h2>
	</div>
	<Div id="paragraph">
		<h2><center>
			Purpose
		</center></h2>
		<p>
			The purpose of this site is twofold. 
		</p>
		<p>
			First and foremost, we are identifying, connecting, and supporting individuals who are committed to the good work of advocacy, who fight for the universal rights of every citizen of humanity. These individuals are being sought to band together for the building of an expansive and <i>organized</i> community, empowered to transform our social and ruling systems, or to create new ones that work for <b>everyone</b>.
		</p>
		<p>
			Secondly, this site serves as a prototype for the site www.WeAreUNation.com, a more expansive and unifying, educational, organizational, and transformational resource we will build together. This site, with the rest of the organizational structures and systems developed by we Nation Builders for this community, will put us in position to shift the power into the hands of the masses for the first time in history.
		</p>
		<p>
			We have everything we need, because all we need is us.
		</p>
</Div>