<div id="fixer">
	<div class="headers">
	<br>
		<h1>
			Ubuntu Nation<br><br>
		</h1>
		<h2 class="tag">
			Why it's time to do this, and why right now.
		</h2>
	</div>
	<Div id="paragraph">
		<p>
			It is absolutely certain that we have all the resources, technology and knowledge necessary to completely eradicate poverty and homelessness, dramatically decrease illnesses, and protect the health of the earth. The only thing that stands in the way of accomplishing this during the next half century is the shift in consciousness which is already happening among masses of people, aligned with the empowerment and unifying of those masses. 
		</p>
		<p>
			Ubuntu Nation is the development of a global organization to facilitate this transformation. We will challenge the permeating societal ideas that promote individual gain at the expense of the greater whole. This organization is intended to nurture the progress of the consciousness shift that will lead to the better treatment of all people of the earth, undermining the ideas that allow leaders and systems to bring about war, inequity, oppression, poverty and disease.
		</p>
		<p>
			A primary tool of the organization will be WeAreUNation.com, which will be a fusion of the functionalities found in Facebook and Upworthy and include minisites for organizations, groups and collectives. It will also feature a calendar function that supports coordination of events and activities based on geography and subject, and a forum system built for connection, the exchange of information, and the sharing of opportunities and best practice methods.
		<p>	
			It is clear the impact that social media can have on societies. Facebook, Twitter, and Upworthy are but a few examples of resources that have been absolutely crucial in bringing social issues to light. One clear current example is the #BlackLivesMatter movement, and the way social media outlets have exposed and forced recognition of an issue that has been pervasive in U.S. society for generations – brutality of minorities at the hands of police. Ubuntu Nation will be a resource that is developed with Human Rights advocacy at the foundation of its purpose.
		</p>	
		<p>
			Historically, people of the world have been manipulated through a lack of connection and access to information about each other and their environment. Ideas that people are lesser than ourselves - that some are “others” - has been imposed upon humanity, and then used to manage the population. This has enabled a few to control the resources of the world while pitting the rest of humanity against each other.

		</p>
		<p>
			Today people understand that they have been misled, and that the result of that deception is much of the suffering we see and experience, from poverty to war. This has become more widely apparent because social media is giving access to truth tellers who are committed to education – and because people are seeking out that truth. Additionally, a growing number of people are now experiencing the harsh realities for which they judged others. For example, in the United States where the number of people on food stamps has increased exponentially, it has become apparent for many that poverty is an imposed condition, less a reflection of an individual than a system. 
		</p>
		<p>
			As cognizance spreads, individuals everywhere are working to share information, inspire change in each other and transform our ruling systems. Examples are the inspiring, revolutionary acts of the Arab Spring in Egypt, and the campaign for a Universal Basic Income in Switzerland. With the Internet as a resource, people around the world are communicating and connecting with each other. From videos, to TED Talks, to websites like Upworthy, and organizations like MoveOn.org, people are identifying like minds and exchanging information critical to individual and global transformation. However, these efforts are separate, lacking widespread coordination. Ubuntu Nation will serve as a vehicle to bridge the gaps between the good work people are doing. Without a unifying medium, progress will be limited, and while people and groups will impact issues, true transformation will be forever allusive. Ubuntu Nation will facilitate and expedite the transformative process that is already in motion, creating opportunities for people to fully identify each other and then to work in coordination to create a better world. 
		</p>
	</div>