<div>
	<% @photos.each do |photo| %>
		 <div class="issuesIndex">
		 	<%= image_tag photo.avatar.url(:medium) %><br>
			<%= photo.description %><br>
			<%= link_to "Engage this photo", user_photo_path(current_user, photo) %>
		 </div>
	 <% end %>
 </div>