<div id="proright">
	<div id="photoshow">
		<%= image_tag @photo.avatar.url(:medium) %><br>
		<%= @photo.description %><br>
		<%= link_to "See all" + @photo.user.profile.fname + "'s photos", user_photos_path(@photo.user.id) %><br>
		<%= link_to "Go to" + @photo.user.profile.fname + "'s profile", user_profile_path(@photo.user) %>
	</div>
</div>