	<% @posts.each do |post| %>
		<div class="issuesIndex">
		 	<%= image_tag post.avatar.url(:medium) %><br>
			<%= post.title %><br>
			<%= post.body %><br>
			<%= link_to "Engage this Post", post(@user) %>
	 	</div>
	<% end %>
	 </div>