.menubar {
	border: 2px solid black;
	background: rgba(0, 0, 0, .9);
	width: 100%;
	padding: 5px;
	// position: absolute;
	// top: 5px;
	// left: 0;
	height: 25px;
}

.nav {
	text-align: center;
	list-style: none;


	li {
	display: inline;
	font-size: 15px;
	text-align: left;
	line-height: 19px;
	padding-bottom: 0px;	
	}

	a:link {
		color: white;
	}
	a:visited {
		color: white;
	}
	a:hover {
		border: px solid black;
		background-color: black;
		color: rgb(23, 179, 228);
		width: 500%;
	}
}