// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.propic {
	display: inline;
}

.iss {
	border: 2px solid white;
	width: 40%;
	height: 85px;
	float: left;
	margin: 5px;
	// overflow: hidden;

	img {
		width: 28%;
	}
}

.photo {
	border: 2px solid white;
	width: 23%;
	height: 250px;
	float: left;
	margin: 5px;
	overflow: hidden;

	img {
		height: 175px;
	}
}

.user {
	border: 2px solid white;
	width: 12%;
	height: 125px;
	float: left;
	margin: 5px;
	overflow: hidden;

	img {
		height: 100px;
	}
}

.float {
	clear: left;
}

.editpng {
	img {
	width: 23px;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	}
}

.editphoto {
	width: 100%;
	clear: both;
	// background: black;
}
