// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// headers in the sections on the right

.profile {
	border: 7px solid black;
	background: rgba(255, 255, 255, .8);
	width: 240px;
	padding: 5px;
	margin-left: 25px;
	position: absolute;
	top: 275px;
	height: 1240px;
}

.proheaders {
	border-bottom: 3px solid white;
	width: 100%;
	z-index: 100;
	margin: auto;
}


.isswrapper {
	height: 632px;
	overflow: scroll;
	width: 100%;
	// display: inline-block;

}

.mediawrapper {
	height: 335px;
	overflow-y: hidden;
	overflow-x: scroll;
	width: 99%;
	display: inline-block;
	border: 5px solid white;
	margin-top: 50px;

}

.prowrapper {
	height: 335px;
	overflow-y: hidden;
	overflow-x: scroll;
	width: 99%;
	display: inline-block;
	border: 5px solid white;
	margin-top: 50px;

}
.userwrapper {
	height: 210px;
	overflow: hidden;
	width: 99%;
	display: inline-block;
	border: 5px solid white;
	margin-top: 50px;
}

#proright {
	border: 7px solid black;
	background: rgba(255, 255, 255, .8);
	width: 75%;
	height: 1475px;
	position: absolute;
	top: 56px;
	left: 350px;
}

#prorighttag {
	border: 2px solid white;
	background: rgba(255, 255, 255, .8);
	width: 75%;
	height: 1264px;
	position: absolute;
	top: 1200px;
	left: 350px;
}